In [12]:
import pandas as pd

file = '../Datasets/ENSU/data/ensu_bd_dic_2017_dbf/ENSU_CB_1217.csv'
df = pd.read_csv(file, low_memory=False, index_col=0)

df.head()

,Unnamed: 0.1,UPM,VIV_SEL,R_SEL,CVE_ENT,NOM_ENT,CVE_MUN,NOM_MUN,LOC,CD,...,BP3_1_14,BP3_1_14E,BP3_1_15,BP3_1_99,BP3_2,FAC_SEL,DOMINIO,EST,UPM_DIS,EST_DIS
0,0,0100105,02,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,2390.0,U,3,00010,0580
1,1,0100105,03,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,1593.0,U,3,00010,0580
2,2,0100105,04,01,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,797.0,U,3,00010,0580
3,3,0100105,05,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,4,1593.0,U,3,00010,0580
4,4,0100177,01,02,01,Aguascalientes,001,Aguascalientes,0001,01,...,0,NaN,0,0,3,1698.0,U,3,00020,0580

In [13]:
df.shape

(75665, 138)

In [ ]:
#df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]
df[df[['UPM','CVE_ENT','CVE_MUN']] & df['BP1_1'] == '1']

In [73]:
df_group_1.count