In [2]:
import pandas as pd
import numpy as np

In [3]:
ensu_cb = '../../Datasets/ENSU/dataframes/ensu_cb_MUN.csv'

df_ensu_cb = pd.read_csv(ensu_cb, low_memory=False, index_col=0)

df_ensu_cb.head()

,level_0,index,AGEB,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,...,PER,PRO_VIV,R_DEF,R_SEL,SEL_SUST,TIPO_CUEST,UPM,UPM_DIS,Unnamed: 0.1,VIV_SEL
0,0,0,&,1,1,1,1,3,1,1,...,117,&,1,2,A,-,100105,10,&,1
1,1,1,&,2,2,3,2,3,2,2,...,117,&,1,2,A,-,100105,10,&,2
2,2,2,&,1,1,2,1,3,1,1,...,117,&,1,2,A,-,100105,10,&,3
3,3,3,&,2,1,3,2,3,1,1,...,117,&,1,1,A,-,100105,10,&,4
4,4,4,&,1,1,1,1,3,1,1,...,117,&,1,1,A,-,100105,10,&,5

In [4]:
df_ensu_cb.shape

(161810, 165)

In [5]:
df_copy_ensu_cb = df_ensu_cb.copy()
df_copy_ensu_cb.head()

,level_0,index,AGEB,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,...,PER,PRO_VIV,R_DEF,R_SEL,SEL_SUST,TIPO_CUEST,UPM,UPM_DIS,Unnamed: 0.1,VIV_SEL
0,0,0,&,1,1,1,1,3,1,1,...,117,&,1,2,A,-,100105,10,&,1
1,1,1,&,2,2,3,2,3,2,2,...,117,&,1,2,A,-,100105,10,&,2
2,2,2,&,1,1,2,1,3,1,1,...,117,&,1,2,A,-,100105,10,&,3
3,3,3,&,2,1,3,2,3,1,1,...,117,&,1,1,A,-,100105,10,&,4
4,4,4,&,1,1,1,1,3,1,1,...,117,&,1,1,A,-,100105,10,&,5

## Análisis

In [6]:
df_copy_ensu_cb.drop(axis=0, columns=['level_0', 'index', 'CD'], inplace=True)
df_copy_ensu_cb.head()

,AGEB,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,...,PER,PRO_VIV,R_DEF,R_SEL,SEL_SUST,TIPO_CUEST,UPM,UPM_DIS,Unnamed: 0.1,VIV_SEL
0,&,1,1,1,1,3,1,1,1,1,...,117,&,1,2,A,-,100105,10,&,1
1,&,2,2,3,2,3,2,2,2,2,...,117,&,1,2,A,-,100105,10,&,2
2,&,1,1,2,1,3,1,1,2,2,...,117,&,1,2,A,-,100105,10,&,3
3,&,2,1,3,2,3,1,1,1,1,...,117,&,1,1,A,-,100105,10,&,4
4,&,1,1,1,1,3,1,1,2,2,...,117,&,1,1,A,-,100105,10,&,5

### Periodo `PER`
Periodo de la entrevista:
+ `semestre` + `año`

In [7]:
df_copy_ensu_cb.PER.value_counts()

417    60588
317    15303
217    15272
117    14497
416    13976
316    12894
216    11776
116     9712
1       7792
Name: PER, dtype: int64

In [8]:
dir_PER = {1:116
    }

dir_PER

{1: 116}

In [9]:
df_copy_ensu_cb.PER.replace(dir_PER, inplace=True)
df_copy_ensu_cb.PER.value_counts()

417    60588
116    17504
317    15303
217    15272
117    14497
416    13976
316    12894
216    11776
Name: PER, dtype: int64

### Resultado definitivo `R_DEF`
Periodo de la entrevista:
+ `01`: Entrevista completa
+ `02`: Entrevista pendiente del seleccionado(a)
+ `03`: Entrevista incompleta
+ `04`: Entrevista concertada (cita) 
+ `05`: Informante inadecuado 
+ `06`: Ausencia de ocupantes 
+ `07`: Negativa
+ `08`: Vivienda deshabitada 
+ `09`: Vivienda de uso temporal
+ `10`: Vivienda con uso diferente al habitacional, demolida o en ruinas
+ `11`: Área insegura 
+ `12`:Otra situación

In [10]:
df_copy_ensu_cb.R_DEF.value_counts()

1    154214
0      7596
Name: R_DEF, dtype: int64

### Hogar mudado `H_MUD`

Número de hogar mudado:
+ 0-4

In [11]:
df_copy_ensu_cb.H_MUD.value_counts()

0      133715
0.0     13341
A        7405
1        5744
1.0       595
2         539
B         351
3          39
2.0        37
D          30
C           6
4           5
3.0         3
Name: H_MUD, dtype: int64

In [12]:
dir_H_MUD = {0.0: 0, '0.0': 0, '0': 0, 'A': 0,
             1.0: 1, '1.0': 1, '1': 1, 'B': 1,
             2.0: 2, '2.0': 2, '2': 2, 'C': 2,
             3.0: 3, '3.0': 3, '3': 3, 'D': 3,
             4.0: 4, '4.0': 4, '4': 4, 'E': 4
    }

dir_H_MUD

{'0': 0,
 0.0: 0,
 '0.0': 0,
 '1': 1,
 1.0: 1,
 '1.0': 1,
 '2': 2,
 2.0: 2,
 '2.0': 2,
 '3': 3,
 3.0: 3,
 '3.0': 3,
 '4': 4,
 4.0: 4,
 '4.0': 4,
 'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4}

In [13]:
df_copy_ensu_cb.H_MUD.replace(dir_H_MUD, inplace=True)
df_copy_ensu_cb.H_MUD.value_counts()

0    154461
1      6690
2       582
3        72
4         5
Name: H_MUD, dtype: int64

### Tipo de Levantamiento del Cuestionario`TIPO_CUEST`

Número de veces que el informante seleccionado se ha cambiado:
+ 0-4

In [14]:
df_copy_ensu_cb.TIPO_CUEST.value_counts()

-      154018
5.0      1595
3.0      1581
1.0      1561
4.0      1544
2.0      1511
Name: TIPO_CUEST, dtype: int64

In [15]:
df_copy_ensu_cb.drop(axis=0, columns=['TIPO_CUEST'], inplace=True)
df_copy_ensu_cb.head()

,AGEB,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,...,N_ENT,PER,PRO_VIV,R_DEF,R_SEL,SEL_SUST,UPM,UPM_DIS,Unnamed: 0.1,VIV_SEL
0,&,1,1,1,1,3,1,1,1,1,...,4,117,&,1,2,A,100105,10,&,1
1,&,2,2,3,2,3,2,2,2,2,...,4,117,&,1,2,A,100105,10,&,2
2,&,1,1,2,1,3,1,1,2,2,...,4,117,&,1,2,A,100105,10,&,3
3,&,2,1,3,2,3,1,1,1,1,...,4,117,&,1,1,A,100105,10,&,4
4,&,1,1,1,1,3,1,1,2,2,...,4,117,&,1,1,A,100105,10,&,5

### Número de entrevista `N_ENT`

Número de Entrevista:
+ 1-5

In [16]:
df_copy_ensu_cb.N_ENT.value_counts()

2      28892
1      25836
5      24124
4      23744
3      23714
&       9712
5.0     5194
3.0     5180
1.0     5153
4.0     5131
2.0     5094
9         36
Name: N_ENT, dtype: int64

In [17]:
dir_N_ENT = {0.0: 0, '0.0': 0, '0': 0, 'A': 0,
             1.0: 1, '1.0': 1, '1': 1, 'B': 1,
             2.0: 2, '2.0': 2, '2': 2, 'C': 2,
             3.0: 3, '3.0': 3, '3': 3, 'D': 3,
             4.0: 4, '4.0': 4, '4': 4, 'E': 4,
             5.0: 5, '5.0': 5, '5': 5, 'F': 5,
             9.0: '&', '9.0': '&', '9': '&',
    }

In [18]:
df_copy_ensu_cb.N_ENT.replace(dir_N_ENT, inplace=True)
df_copy_ensu_cb.N_ENT.value_counts()

2    33986
1    30989
5    29318
3    28894
4    28875
&     9748
Name: N_ENT, dtype: int64

### Percepción de seguridad en la ciudad `BP1_1`
En términos de la delincuencia, ¿considera que vivir actualmente en (CIUDAD), es...
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [19]:
df_copy_ensu_cb.BP1_1.value_counts()

2    112480
1     48992
9       338
Name: BP1_1, dtype: int64

In [20]:
dir_BP1_1 = {9: '&'
    }

In [21]:
df_copy_ensu_cb.BP1_1 = df_copy_ensu_cb.BP1_1.astype('category')
df_copy_ensu_cb.BP1_1.replace(dir_BP1_1, inplace=True)
df_copy_ensu_cb.BP1_1.value_counts()

ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

Exception ignored in: 'pandas._libs.lib.is_bool_array'
ValueError: Buffer dtype mismatch, expected 'Python object' but got 'long'

2    112480
1     48992
&       338
Name: BP1_1, dtype: int64

### Percepción de seguridad en casa `BP1_2_01`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [22]:
df_copy_ensu_cb.BP1_2_01.value_counts()

1    103893
2     45913
&      9712
3      2226
9        66
Name: BP1_2_01, dtype: int64

In [23]:
dir_BP2 = {9: '&', 3: '&', 4: '&',
           '9': '&', '3': '&', '4': '&'
    }

In [24]:
df_copy_ensu_cb.BP1_2_01.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_01.value_counts()

1    103893
2     45913
&     12004
Name: BP1_2_01, dtype: int64

### Percepción de seguridad en trabajo `BP1_2_02`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [25]:
df_copy_ensu_cb.BP1_2_02.value_counts()

1    66781
2    43480
3    41768
&     9712
9       69
Name: BP1_2_02, dtype: int64

In [26]:
df_copy_ensu_cb.BP1_2_02.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_02.value_counts()

1    66781
&    51549
2    43480
Name: BP1_2_02, dtype: int64

### Percepción de seguridad en las calles que habitualmente usa `BP1_2_03`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [27]:
df_copy_ensu_cb.BP1_2_03.value_counts()

2    91967
1    51806
&     9712
3     8233
9       92
Name: BP1_2_03, dtype: int64

In [28]:
df_copy_ensu_cb.BP1_2_03.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_03.value_counts()

2    91967
1    51806
&    18037
Name: BP1_2_03, dtype: int64

### Percepción de seguridad en la escuela `BP1_2_04`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [29]:
df_copy_ensu_cb.BP1_2_04.value_counts()

3    133345
1     11713
&      9712
2      6976
9        64
Name: BP1_2_04, dtype: int64

In [30]:
df_copy_ensu_cb.BP1_2_04.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_04.value_counts()

&    143121
1     11713
2      6976
Name: BP1_2_04, dtype: int64

### Percepción de seguridad en el mercado `BP1_2_05`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [31]:
df_copy_ensu_cb.BP1_2_05.value_counts()

2    76636
1    53895
3    21359
&     9712
9      208
Name: BP1_2_05, dtype: int64

In [32]:
df_copy_ensu_cb.BP1_2_05.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_05.value_counts()

2    76636
1    53895
&    31279
Name: BP1_2_05, dtype: int64

### Percepción de seguridad en el centro comercial `BP1_2_06`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [33]:
df_copy_ensu_cb.BP1_2_06.value_counts()

1    76572
2    65960
&     9712
3     9392
9      174
Name: BP1_2_06, dtype: int64

In [34]:
df_copy_ensu_cb.BP1_2_06.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_06.value_counts()

1    76572
2    65960
&    19278
Name: BP1_2_06, dtype: int64

### Percepción de seguridad en el banco `BP1_2_07`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [35]:
df_copy_ensu_cb.BP1_2_07.value_counts()

2    86550
1    41999
3    23390
&     9712
9      159
Name: BP1_2_07, dtype: int64

In [36]:
df_copy_ensu_cb.BP1_2_07.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_07.value_counts()

2    86550
1    41999
&    33261
Name: BP1_2_07, dtype: int64

### Percepción de seguridad en el cajero automático localizado en la vía pública `BP1_2_08`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [37]:
df_copy_ensu_cb.BP1_2_08.value_counts()

2    97282
1    27430
3    27228
&     9712
9      158
Name: BP1_2_08, dtype: int64

In [38]:
df_copy_ensu_cb.BP1_2_08.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_08.value_counts()

2    97282
&    37098
1    27430
Name: BP1_2_08, dtype: int64

### Percepción de seguridad en el transporte público `BP1_2_09`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [39]:
df_copy_ensu_cb.BP1_2_09.value_counts()

2    78533
1    42078
3    31327
&     9712
9      160
Name: BP1_2_09, dtype: int64

In [40]:
df_copy_ensu_cb.BP1_2_09.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_09.value_counts()

2    78533
1    42078
&    41199
Name: BP1_2_09, dtype: int64

### Percepción de seguridad en el automóvil `BP1_2_10`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [41]:
df_copy_ensu_cb.BP1_2_10.value_counts()

1    78125
2    60463
3    23077
9      145
Name: BP1_2_10, dtype: int64

In [42]:
df_copy_ensu_cb.BP1_2_10 = df_copy_ensu_cb.BP1_2_10.astype('str')
df_copy_ensu_cb.BP1_2_10.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_10.value_counts()

1    78125
2    60463
&    23222
Name: BP1_2_10, dtype: int64

### Percepción de seguridad en la carretera `BP1_2_11`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [43]:
df_copy_ensu_cb.BP1_2_11.value_counts()

2    83652
1    60990
3    16930
9      238
Name: BP1_2_11, dtype: int64

In [44]:
df_copy_ensu_cb.BP1_2_11 = df_copy_ensu_cb.BP1_2_11.astype('str')
df_copy_ensu_cb.BP1_2_11.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_11.value_counts()

2    83652
1    60990
&    17168
Name: BP1_2_11, dtype: int64

### Percepción de seguridad en el parque recreativo o centro recreativo `BP1_2_12`
En términos de delincuencia, dígame si en (LUGAR) se siente seguro(a) o inseguro(a).
+ `1`: seguro 
+ `2`: inseguro
+ `&`: No sabe / no responde

In [45]:
df_copy_ensu_cb.BP1_2_12.value_counts()

2    66597
1    59601
3    32817
4     2342
9      453
Name: BP1_2_12, dtype: int64

In [46]:
df_copy_ensu_cb.BP1_2_12 = df_copy_ensu_cb.BP1_2_12.astype('str')
df_copy_ensu_cb.BP1_2_12.replace(dir_BP2, inplace=True)
df_copy_ensu_cb.BP1_2_12.value_counts()

2    66597
1    59601
&    35612
Name: BP1_2_12, dtype: int64

### Condiciones de delincuencia en su ciudad `BP1_3`
Pensando en las condiciones de delincuencia en (CIUDAD), ¿considera que en los próximos 12 meses...
+ `1`: mejorará?
+ `2`: seguirá igual de bien? 
+ `3`: seguirá igual de mal? 
+ `4`: empeorará?
+ `&`: No sabe / no responde

In [47]:
df_copy_ensu_cb.BP1_3.value_counts()

4    55141
3    51694
1    33570
2    19494
9     1911
Name: BP1_3, dtype: int64

In [48]:
dir_BP1_3 = {9: '&','9': '&'
    }

In [49]:
df_copy_ensu_cb.BP1_3 = df_copy_ensu_cb.BP1_3.astype('str')
df_copy_ensu_cb.BP1_3.replace(dir_BP1_3, inplace=True)
df_copy_ensu_cb.BP1_3.value_counts()

4    55141
3    51694
1    33570
2    19494
&     1911
Name: BP1_3, dtype: int64

### Situaciones de vandalismo (grafitis, pintas, vidrios quebrados o daños) en las viviendas o negocios? `BP1_4_1`
En los últimos tres meses, ¿ha escuchado o ha visto en los alrededores de su vivienda situaciones como...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [50]:
df_copy_ensu_cb.BP1_4_1.value_counts()

2    81650
1    79870
9      290
Name: BP1_4_1, dtype: int64

In [51]:
dir_BP1_4 = {9: '&','9': '&'
    }

In [52]:
df_copy_ensu_cb.BP1_4_1 = df_copy_ensu_cb.BP1_4_1.astype('str')
df_copy_ensu_cb.BP1_4_1.replace(dir_BP1_4, inplace=True)
df_copy_ensu_cb.BP1_4_1.value_counts()

2    81650
1    79870
&      290
Name: BP1_4_1, dtype: int64

### Situaciones de consumo de alcohol en las calles? `BP1_4_2`
En los últimos tres meses, ¿ha escuchado o ha visto en los alrededores de su vivienda situaciones como...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [53]:
df_copy_ensu_cb.BP1_4_2.value_counts()

1    102010
2     59502
9       298
Name: BP1_4_2, dtype: int64

In [54]:
df_copy_ensu_cb.BP1_4_2 = df_copy_ensu_cb.BP1_4_2.astype('str')
df_copy_ensu_cb.BP1_4_2.replace(dir_BP1_4, inplace=True)
df_copy_ensu_cb.BP1_4_2.value_counts()

1    102010
2     59502
&       298
Name: BP1_4_2, dtype: int64

### Situaciones de robos o asaltos? `BP1_4_3`
En los últimos tres meses, ¿ha escuchado o ha visto en los alrededores de su vivienda situaciones como...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [55]:
df_copy_ensu_cb.BP1_4_3.value_counts()

1    92860
2    68626
9      324
Name: BP1_4_3, dtype: int64

In [56]:
df_copy_ensu_cb.BP1_4_3 = df_copy_ensu_cb.BP1_4_3.astype('str')
df_copy_ensu_cb.BP1_4_3.replace(dir_BP1_4, inplace=True)
df_copy_ensu_cb.BP1_4_3.value_counts()

1    92860
2    68626
&      324
Name: BP1_4_3, dtype: int64

### Situaciones de venta o consumo de droga? `BP1_4_4`
En los últimos tres meses, ¿ha escuchado o ha visto en los alrededores de su vivienda situaciones como...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [57]:
df_copy_ensu_cb.BP1_4_4.value_counts()

2    108805
1     52338
9       667
Name: BP1_4_4, dtype: int64

In [58]:
df_copy_ensu_cb.BP1_4_4 = df_copy_ensu_cb.BP1_4_4.astype('str')
df_copy_ensu_cb.BP1_4_4.replace(dir_BP1_4, inplace=True)
df_copy_ensu_cb.BP1_4_4.value_counts()

2    108805
1     52338
&       667
Name: BP1_4_4, dtype: int64

### Situaciones de disparos frecuentes con armas? `BP1_4_5`
En los últimos tres meses, ¿ha escuchado o ha visto en los alrededores de su vivienda situaciones como...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [59]:
df_copy_ensu_cb.BP1_4_5.value_counts()

2    98610
1    60902
9     2298
Name: BP1_4_5, dtype: int64

In [60]:
df_copy_ensu_cb.BP1_4_5 = df_copy_ensu_cb.BP1_4_5.astype('str')
df_copy_ensu_cb.BP1_4_5.replace(dir_BP1_4, inplace=True)
df_copy_ensu_cb.BP1_4_5.value_counts()

2    98610
1    60902
&     2298
Name: BP1_4_5, dtype: int64

### Cambiar el hábito de llevar cosas de valor como joyas, dinero, o tarjetas de crédito?  `BP1_5_1`
En este mismo periodo de tres meses, por temor a sufrir algún delito (robo, asalto, secuestro, entre otros), ¿usted cambió sus hábitos respecto a ...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [61]:
df_copy_ensu_cb.BP1_5_1.value_counts()

1    91587
2    61558
3     8620
9       45
Name: BP1_5_1, dtype: int64

In [62]:
dir_BP1_5 = {9: '&','9': '&',
             3: '&','3': '&'
    }

In [63]:
df_copy_ensu_cb.BP1_5_1 = df_copy_ensu_cb.BP1_5_1.astype('str')
df_copy_ensu_cb.BP1_5_1.replace(dir_BP1_5, inplace=True)
df_copy_ensu_cb.BP1_5_1.value_counts()

1    91587
2    61558
&     8665
Name: BP1_5_1, dtype: int64

### Cambiar el hábito de caminar por los alrededores de su vivienda, pasadas las ocho de la noche?  `BP1_5_2`
En este mismo periodo de tres meses, por temor a sufrir algún delito (robo, asalto, secuestro, entre otros), ¿usted cambió sus hábitos respecto a ...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [64]:
df_copy_ensu_cb.BP1_5_2.value_counts()

1    79756
2    76334
3     5671
9       49
Name: BP1_5_2, dtype: int64

In [65]:
df_copy_ensu_cb.BP1_5_2 = df_copy_ensu_cb.BP1_5_2.astype('str')
df_copy_ensu_cb.BP1_5_2.replace(dir_BP1_5, inplace=True)
df_copy_ensu_cb.BP1_5_2.value_counts()

1    79756
2    76334
&     5720
Name: BP1_5_2, dtype: int64

### Cambiar visitar a parientes o amigos? `BP1_5_3`
En este mismo periodo de tres meses, por temor a sufrir algún delito (robo, asalto, secuestro, entre otros), ¿usted cambió sus hábitos respecto a ...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [66]:
df_copy_ensu_cb.BP1_5_3.value_counts()

2    98500
1    55438
3     7824
9       48
Name: BP1_5_3, dtype: int64

In [67]:
df_copy_ensu_cb.BP1_5_3 = df_copy_ensu_cb.BP1_5_3.astype('str')
df_copy_ensu_cb.BP1_5_3.replace(dir_BP1_5, inplace=True)
df_copy_ensu_cb.BP1_5_3.value_counts()

2    98500
1    55438
&     7872
Name: BP1_5_3, dtype: int64

### Cambiar el hábito de permitir que salgan de su vivienda sus hijos menores? `BP1_5_4`
En este mismo periodo de tres meses, por temor a sufrir algún delito (robo, asalto, secuestro, entre otros), ¿usted cambió sus hábitos respecto a ...
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [68]:
df_copy_ensu_cb.BP1_5_4.value_counts()

3    73461
1    47870
2    40303
9      176
Name: BP1_5_4, dtype: int64

In [69]:
df_copy_ensu_cb.BP1_5_4 = df_copy_ensu_cb.BP1_5_4.astype('str')
df_copy_ensu_cb.BP1_5_4.replace(dir_BP1_5, inplace=True)
df_copy_ensu_cb.BP1_5_4.value_counts()

&    73637
1    47870
2    40303
Name: BP1_5_4, dtype: int64

Se retiran las columnas `BP1_5_5` y `BP1_5_5E` por tipo de datos (texto)

In [70]:
df_copy_ensu_cb.drop(axis=0, columns=['BP1_5_5', 'BP1_5_5E'], inplace=True)
df_copy_ensu_cb.head()

,AGEB,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,BP1_2_07,BP1_2_08,...,N_ENT,PER,PRO_VIV,R_DEF,R_SEL,SEL_SUST,UPM,UPM_DIS,Unnamed: 0.1,VIV_SEL
0,&,1,1,1,1,&,1,1,1,1,...,4,117,&,1,2,A,100105,10,&,1
1,&,2,2,&,2,&,2,2,2,2,...,4,117,&,1,2,A,100105,10,&,2
2,&,1,1,2,1,&,1,1,2,2,...,4,117,&,1,2,A,100105,10,&,3
3,&,2,1,&,2,&,1,1,1,1,...,4,117,&,1,1,A,100105,10,&,4
4,&,1,1,1,1,&,1,1,2,2,...,4,117,&,1,1,A,100105,10,&,5

### Formas de enterarse de noticias: Platicando con familiares, vecinos o conocidos en los alrededores de su vivienda `BP1_6_1`
En los últimos tres meses, ¿cuáles han sido las tres principales formas de enterarse sobre la situación que guarda la seguridad pública, el narcotráfico y/o la delincuencia en (CIUDAD)?
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [71]:
df_copy_ensu_cb.BP1_6_1.value_counts()

1    94969
0    50069
2    11601
3     5088
9       83
Name: BP1_6_1, dtype: int64

In [72]:
dir_BP1_6 = {9: '&', '9': '&', 3: '&','3': '&',
             0: '2', '0': '2', 2: '2', '2': '2'
    }

In [73]:
df_copy_ensu_cb.BP1_6_1 = df_copy_ensu_cb.BP1_6_1.astype('str')
df_copy_ensu_cb.BP1_6_1.replace(dir_BP1_6, inplace=True)
df_copy_ensu_cb.BP1_6_1.value_counts()

1    94969
2    61670
&     5171
Name: BP1_6_1, dtype: int64

### Formas de enterarse de noticias: Platicando con compañeros de su trabajo o escuela `BP1_6_2`
En los últimos tres meses, ¿cuáles han sido las tres principales formas de enterarse sobre la situación que guarda la seguridad pública, el narcotráfico y/o la delincuencia en (CIUDAD)?
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [74]:
df_copy_ensu_cb.BP1_6_2.value_counts()

0    83730
1    65056
2    12936
9       88
Name: BP1_6_2, dtype: int64

In [75]:
df_copy_ensu_cb.BP1_6_2 = df_copy_ensu_cb.BP1_6_2.astype('str')
df_copy_ensu_cb.BP1_6_2.replace(dir_BP1_6, inplace=True)
df_copy_ensu_cb.BP1_6_2.value_counts()

2    96666
1    65056
&       88
Name: BP1_6_2, dtype: int64

### Formas de enterarse de noticias: Por Facebook `BP1_6_3`
En los últimos tres meses, ¿cuáles han sido las tres principales formas de enterarse sobre la situación que guarda la seguridad pública, el narcotráfico y/o la delincuencia en (CIUDAD)?
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [76]:
df_copy_ensu_cb.BP1_6_3.value_counts()

1    90723
0    55823
2    15177
9       87
Name: BP1_6_3, dtype: int64

In [77]:
df_copy_ensu_cb.BP1_6_3 = df_copy_ensu_cb.BP1_6_3.astype('str')
df_copy_ensu_cb.BP1_6_3.replace(dir_BP1_6, inplace=True)
df_copy_ensu_cb.BP1_6_3.value_counts()

1    90723
2    71000
&       87
Name: BP1_6_3, dtype: int64

### Formas de enterarse de noticias: Por Twitter `BP1_6_4`
En los últimos tres meses, ¿cuáles han sido las tres principales formas de enterarse sobre la situación que guarda la seguridad pública, el narcotráfico y/o la delincuencia en (CIUDAD)?
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [78]:
df_copy_ensu_cb.BP1_6_4.value_counts()

0    103119
2     30917
1     21871
&      2597
3      1998
4      1006
9       302
Name: BP1_6_4, dtype: int64

In [79]:
dir_BP1_6 = {9: '&', '9': '&', 3: '&','3': '&',
             0: '2', '0': '2', 2: '2', '2': '2'
    }

In [80]:
df_copy_ensu_cb.BP1_6_3 = df_copy_ensu_cb.BP1_6_3.astype('str')
df_copy_ensu_cb.BP1_6_3.replace(dir_BP1_6, inplace=True)
df_copy_ensu_cb.BP1_6_3.value_counts()

1    90723
2    71000
&       87
Name: BP1_6_3, dtype: int64

### Formas de enterarse de noticias: Por Whatsapp `BP1_6_5`
En los últimos tres meses, ¿cuáles han sido las tres principales formas de enterarse sobre la situación que guarda la seguridad pública, el narcotráfico y/o la delincuencia en (CIUDAD)?
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [81]:
df_copy_ensu_cb.BP1_6_5.value_counts()

0      89909
&      29280
1.0    24885
1      15751
2.0     1970
9.0       15
Name: BP1_6_5, dtype: int64

In [82]:
dir_BP1_6 = {9: '&', '9': '&', 3: '&','3': '&', '9.0': '&', 9.0: '&', '3.0': '&', 3.0:'&',
             0: '2', '0': '2', 2: '2', '2': '2', '2.0': 2, 2.0:2,
             1: '1', '1': '1', '1.0': '1', 1.0:'1'
             
    }

In [83]:
df_copy_ensu_cb.BP1_6_5 = df_copy_ensu_cb.BP1_6_5.astype('str')
df_copy_ensu_cb.BP1_6_5.replace(dir_BP1_6, inplace=True)
df_copy_ensu_cb.BP1_6_5.value_counts()

2    89909
1    40636
&    29295
2     1970
Name: BP1_6_5, dtype: int64

### Formas de enterarse de noticias: Por Otra aplicación electrónica `BP1_6_6`
En los últimos tres meses, ¿cuáles han sido las tres principales formas de enterarse sobre la situación que guarda la seguridad pública, el narcotráfico y/o la delincuencia en (CIUDAD)?
+ `1`: sí 
+ `2`: no
+ `&`: No sabe / no responde

In [84]:
df_copy_ensu_cb.BP1_6_6.value_counts()

0      103968
&       29280
1.0     21056
2.0      5789
1        1692
9.0        25
Name: BP1_6_6, dtype: int64

In [85]:
dir_BP1_6 = {9: '&', '9': '&', 3: '&','3': '&',
             0: '2', '0': '2', 2: '2', '2': '2'
    }

In [86]:
df_copy_ensu_cb.BP1_6_6 = df_copy_ensu_cb.BP1_6_6.astype('str')
df_copy_ensu_cb.BP1_6_6.replace(dir_BP1_6, inplace=True)
df_copy_ensu_cb.BP1_6_6.value_counts()

2      103968
&       29280
1.0     21056
2.0      5789
1        1692
9.0        25
Name: BP1_6_6, dtype: int64