In [1]:
import pandas as pd
import numpy as np

In [2]:
ensu_cb = '../../Datasets/ENSU/dataframes/ensu_cb_01.csv'

df_ensu_cb = pd.read_csv(ensu_cb, low_memory=False, index_col=0)

df_ensu_cb.head()

,level_0,index,AGEB,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,...,PER,PRO_VIV,R_DEF,R_SEL,SEL_SUST,TIPO_CUEST,UPM,UPM_DIS,Unnamed: 0.1,VIV_SEL
0,0,0,&,1,1,1,1,3,1,1,...,117,&,1,2,A,-,100105,10,&,1
1,1,1,&,2,2,3,2,3,2,2,...,117,&,1,2,A,-,100105,10,&,2
2,2,2,&,1,1,2,1,3,1,1,...,117,&,1,2,A,-,100105,10,&,3
3,3,3,&,2,1,3,2,3,1,1,...,117,&,1,1,A,-,100105,10,&,4
4,4,4,&,1,1,1,1,3,1,1,...,117,&,1,1,A,-,100105,10,&,5

In [3]:
df_ensu_cb.shape

(176882, 165)

In [15]:
df_copy_ensu_cb = df_ensu_cb.copy()
df_copy_ensu_cb.head()

,level_0,index,AGEB,BP1_1,BP1_2_01,BP1_2_02,BP1_2_03,BP1_2_04,BP1_2_05,BP1_2_06,...,PER,PRO_VIV,R_DEF,R_SEL,SEL_SUST,TIPO_CUEST,UPM,UPM_DIS,Unnamed: 0.1,VIV_SEL
0,0,0,&,1,1,1,1,3,1,1,...,117,&,1,2,A,-,100105,10,&,1
1,1,1,&,2,2,3,2,3,2,2,...,117,&,1,2,A,-,100105,10,&,2
2,2,2,&,1,1,2,1,3,1,1,...,117,&,1,2,A,-,100105,10,&,3
3,3,3,&,2,1,3,2,3,1,1,...,117,&,1,1,A,-,100105,10,&,4
4,4,4,&,1,1,1,1,3,1,1,...,117,&,1,1,A,-,100105,10,&,5

#### CatÃ¡logo de entidad `CVE_MUN`

Valor Etiqueta:
+ 001-570

In [16]:
#df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('category').unique()
#pd.unique(df_copy_ensu_cb.CVE_MUN)
#df_copy_ensu_cb.CVE_MUN.astype('category').cat.categories.count()
#df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('category')
df_copy_ensu_cb.CVE_MUN.value_counts()

&                            42174
001                           3299
005                           2837
003                           2664
002                           2560
007                           2380
1                             2314
010                           2300
5                             2230
2                             2037
004                           2028
101                           2021
3                             2011
017                           2000
030                           1984
7                             1910
102                           1859
10                            1711
067                           1644
4                             1554
015                           1512
006                           1488
30                            1483
17                            1481
038                           1452
012                           1440
008                           1408
039                           1384
114                           1335
193                           1255
                             ...
409.0                            5
Yautepec                         5
174.0                            5
Tetlatlahuca                     5
90.0                             5
animas Trujano                   5
Xicohtzinco                      5
San Juan Huactzinco              5
San Francisco Tetlanohcan        5
Coronango                        5
42.0                             5
Cuajimalpa de Morelos            5
Xaloztoc                         5
Tocatlan                         5
Panotla                          5
San Pablo Etla                   5
Almoloya de Juarez               5
Juan C. Bonilla                  4
San Lorenzo Axocomanitla         4
293.0                            4
San Andres Huayapam              4
Tepeyanco                        4
34.0                             4
Santa Catarina Ayometla          4
24.0                             4
Tzompantepec                     4
Cosoleacaque                     3
Purisima del Rincon              3
San Pedro Garza Garcia           3
Garcia                           3
Name: CVE_MUN, Length: 373, dtype: int64

In [113]:
#df_copy_ensu_cb.CVE_MUN.astype('category').cat.categories.tolist()

In [46]:
dicc_CVE_MUN = ['Acapulco de Juarez',
 'Aguascalientes',
 'Ahome',
 'Almoloya de Juarez',
 'Altamira',
 'Amaxac de Guerrero',
 'Amozoc',
 'Apizaco',
 'Apodaca',
 'Azcapotzalco',
 'Benito Juarez',
 'Boca del Rio',
 'Campeche',
 'Carmen',
 'Centro',
 'Chiapa de Corzo',
 'Chiautempan',
 'Chihuahua',
 'Chilpancingo de los Bravo',
 'Ciudad Madero',
 'Coatzacoalcos',
 'Colima',
 'Contla de Juan Cuamatzi',
 'Coronango',
 'Corregidora',
 'Cosoleacaque',
 'Coyoacan',
 'Cuajimalpa de Morelos',
 'Cuauhtemoc',
 'Cuautlancingo',
 'Cuernavaca',
 'Culiacan',
 'Durango',
 'Ecatepec de Morelos',
 'Emiliano Zapata',
 'Fresnillo',
 'Garcia',
 'General Escobedo',
 'Gomez Palacio',
 'Guadalajara',
 'Guadalupe',
 'Guanajuato',
 'Gustavo A. Madero',
 'Hermosillo',
 'Iztacalco',
 'Iztapalapa',
 'Jesus Maria',
 'Jiutepec',
 'Juan C. Bonilla',
 'Juarez',
 'Kanasin',
 'La Magdalena Contreras',
 'La Magdalena Tlaltelulco',
 'La Paz',
 'Lazaro Cardenas',
 'Leon',
 'Lerdo',
 'Lerma',
 'Los Cabos',
 'Manzanillo',
 'Matamoros',
 'Mazatecochco de Jose Maria Morelos',
 'Mazatlan',
 'Merida',
 'Metepec',
 'Mexicali',
 'Miguel Hidalgo',
 'Milpa Alta',
 'Mineral de la Reforma',
 'Monterrey',
 'Morelia',
 'Nacajuca',
 'Nava',
 'Nezahualcoyotl',
 'Nogales',
 'Nuevo Laredo',
 'Oaxaca de Juarez',
 'Pachuca de Soto',
 'Panotla',
 'Papalotla de Xicohtencatl',
 'Piedras Negras',
 'Progreso',
 'Puebla',
 'Pueblo Viejo',
 'Puerto Vallarta',
 'Purisima del Rincon',
 'Queretaro',
 'Ramos Arizpe',
 'Reynosa',
 'Saltillo',
 'San Agustin de las Juntas',
 'San Andres Huayapam',
 'San Antonio de la Cal',
 'San Damian Texoloc',
 'San Francisco Tetlanohcan',
 'San Francisco del Rincon',
 'San Jacinto Amilpas',
 'San Juan Huactzinco',
 'San Lorenzo Axocomanitla',
 'San Luis Potosi',
 'San Mateo Atenco',
 'San Nicolas de los Garza',
 'San Pablo Etla',
 'San Pablo del Monte',
 'San Pedro Cholula',
 'San Pedro Garza Garcia',
 'San Pedro Tlaquepaque',
 'San Sebastian Tutla',
 'Santa Catarina',
 'Santa Catarina Ayometla',
 'Santa Cruz Amilpas',
 'Santa Cruz Tlaxcala',
 'Santa Cruz Xoxocotlan',
 'Santa Lucia del Camino',
 'Santa Maria Atzompa',
 'Santa Maria del Tule',
 'Santiago',
 'Soledad de Graciano Sanchez',
 'Tampico',
 'Tapachula',
 'Temixco',
 'Tepeyanco',
 'Tepic',
 'Tetla de la Solidaridad',
 'Tetlatlahuca',
 'Tijuana',
 'Tlahuac',
 'Tlajomulco de ZuÃƒÂ±iga',
 'Tlalpan',
 'Tlaxcala',
 'Tocatlan',
 'Toluca',
 'Tonala',
 'Torreon',
 'Tuxtla Gutierrez',
 'Tzompantepec',
 'Uman',
 'Uruapan',
 'Venustiano Carranza',
 'Veracruz',
 'Villa de alvarez',
 'Xalisco',
 'Xaloztoc',
 'Xicohtzinco',
 'Xochimilco',
 'Xochitepec',
 'Yauhquemehcan',
 'Yautepec',
 'Zacatecas',
 'Zacatelco',
 'Zapopan',
 'Zihuatanejo de Azueta',
 'Zinacantepec',
 'alvaro Obregon',
 'animas Trujano']

#dicc_CVE_MUN

In [17]:
#dicc_CVE_MUN
count = 0
for row in df_copy_ensu_cb.CVE_MUN:
    if (row == dicc_CVE_MUN[0]):
        count = count + 1
    
count

243

In [18]:
df_copy_ensu_cb.shape

(176882, 165)

In [19]:
#df_copy_ensu_cb.drop(df_copy_ensu_cb[(df_copy_ensu_cb.CVE_ENT == 'CVE_ENT') | (df_copy_ensu_cb.CVE_ENT == 'NOM_ENT')].index, inplace=True)
#df_copy_ensu_cb[(df_copy_ensu_cb.CVE_ENT == 'CVE_ENT') | (df_copy_ensu_cb.CVE_ENT == 'NOM_ENT')]
for row in dicc_CVE_MUN:
    df_copy_ensu_cb.drop(df_copy_ensu_cb[(df_copy_ensu_cb.CVE_MUN == row)].index, inplace=True)

In [20]:
df_copy_ensu_cb.shape

(161810, 165)

In [21]:
#df_copy_ensu_cb.CVE_MUN.astype('category').cat.categories.tolist()
df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('category')
df_copy_ensu_cb.CVE_MUN.value_counts()

&        42174
001       3299
005       2837
003       2664
002       2560
007       2380
1         2314
010       2300
5         2230
2         2037
004       2028
101       2021
3         2011
017       2000
030       1984
7         1910
102       1859
10        1711
067       1644
4         1554
015       1512
006       1488
30        1483
17        1481
038       1452
012       1440
008       1408
039       1384
114       1335
193       1255
         ...
133.0       22
034         20
042         20
024         20
390.0       20
44.0        19
090         16
091         16
34          15
375.0       14
59.0        14
90          14
42          14
350.0       13
24          11
22.0        10
157.0        9
83.0         9
107.0        9
399.0        9
91           9
97.0         9
49.0         8
90.0         5
42.0         5
174.0        5
409.0        5
24.0         4
293.0        4
34.0         4
Name: CVE_MUN, Length: 218, dtype: int64

In [23]:
df_copy_ensu_cb['CVE_MUN'].replace({'&':'0'}, inplace=True)        
df_copy_ensu_cb['CVE_MUN'].head()

0    1
1    1
2    1
3    1
4    1
Name: CVE_MUN, dtype: object

In [45]:
df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('float64')
df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('category')
df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('int64')
df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('category')
df_copy_ensu_cb.CVE_MUN.value_counts()

0      42174
1       6381
5       5798
2       5279
3       5078
7       4931
10      4561
4       4107
17      3972
30      3964
67      3249
6       2999
12      2933
39      2814
33      2468
15      2448
38      2364
27      2314
101     2312
8       2299
35      2292
14      2257
43      2224
58      2210
25      2199
89      2170
102     2119
19      2105
37      2091
53      2076
       ...
18       330
16       329
54       301
385      290
46       267
118      246
21       199
76       192
390      183
133      173
44       173
140      165
59       125
375      113
49        91
350       87
83        77
157       73
107       72
22        62
399       60
97        56
409       39
34        39
174       39
293       39
42        39
24        35
90        35
91        25
Name: CVE_MUN, Length: 80, dtype: int64

#### CatÃ¡logo de entidad `MUN`

Valor Etiqueta:
+ 001-570

In [47]:
#df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('category').unique()
#pd.unique(df_copy_ensu_cb.CVE_MUN)
#df_copy_ensu_cb.CVE_MUN.astype('category').cat.categories.count()
#df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('category')
df_copy_ensu_cb.MUN.value_counts()

&       119636
0001      7517
5         2146
2         1983
1         1693
7         1557
4         1529
30        1470
17        1442
3         1208
6         1153
10        1101
101        878
12         818
39         810
19         801
14         799
37         796
53         761
20         709
35         697
67         651
48         648
32         644
50         630
27         615
28         594
114        581
89         541
102        516
         ...
34          15
409         15
0047        14
42          13
24          12
0009        12
1053        10
0011        10
0002        10
0087        10
0010         9
0065         8
0005         8
0026         5
0030         5
0212         5
0027         5
0034         5
0016         5
0028         5
0160         5
0062         5
0262         4
0045         4
0032         4
0006         4
1599         3
119          3
0004         2
0023         2
Name: MUN, Length: 108, dtype: int64

In [49]:
df_copy_ensu_cb['MUN'].replace({'&':'0'}, inplace=True)        
df_copy_ensu_cb['MUN'].head()

0    0
1    0
2    0
3    0
4    0
Name: MUN, dtype: object

In [50]:
df_copy_ensu_cb.MUN = df_copy_ensu_cb.MUN.astype('float64')
df_copy_ensu_cb.MUN = df_copy_ensu_cb.MUN.astype('category')
df_copy_ensu_cb.MUN = df_copy_ensu_cb.MUN.astype('int64')
df_copy_ensu_cb.MUN = df_copy_ensu_cb.MUN.astype('category')
df_copy_ensu_cb.MUN.value_counts()

0       119636
1         9210
5         2154
2         1993
7         1557
4         1531
30        1475
17        1457
3         1208
6         1157
10        1110
101        878
37         851
12         818
39         810
19         801
14         799
53         761
20         709
35         697
67         651
32         648
48         648
50         630
27         620
28         599
114        581
89         541
102        516
106        479
         ...
375         45
107         42
350         41
43          38
59          37
122         31
83          29
399         29
157         28
49          26
97          24
34          20
174         15
409         15
293         15
90          15
47          14
42          13
24          12
1053        10
87          10
65           8
62           5
160          5
212          5
45           4
262          4
119          3
1599         3
23           2
Name: MUN, Length: 90, dtype: int64

In [54]:
df_copy_ensu_cb.reset_index(inplace=True, drop=True)

In [55]:
df_copy_ensu_cb[['CVE_MUN', 'MUN']].tail()

       CVE_MUN MUN
161805      56   0
161806      56   0
161807      56   0
161808      56   0
161809      56   0

In [57]:
df_copy_ensu_cb.CVE_MUN = df_copy_ensu_cb.CVE_MUN.astype('int64')
df_copy_ensu_cb.MUN = df_copy_ensu_cb.MUN.astype('int64')

In [58]:
print(len(df_copy_ensu_cb[(df_copy_ensu_cb.CVE_MUN > 0) & (df_copy_ensu_cb.MUN > 0)]))
print(len(df_copy_ensu_cb[(df_copy_ensu_cb.CVE_MUN != 0) & (df_copy_ensu_cb.MUN != 0)]))
print(len(df_copy_ensu_cb[(df_copy_ensu_cb.CVE_MUN != 0) & (df_copy_ensu_cb.MUN == 0)]))
print(len(df_copy_ensu_cb[(df_copy_ensu_cb.CVE_MUN == 0) & (df_copy_ensu_cb.MUN != 0)]))
print(len(df_copy_ensu_cb[(df_copy_ensu_cb.CVE_MUN != 0) & (df_copy_ensu_cb.MUN == 0)]) +
    len(df_copy_ensu_cb[(df_copy_ensu_cb.CVE_MUN == 0) & (df_copy_ensu_cb.MUN != 0)]))

0
0
119636
42174
161810

In [59]:
temp_CVE_MUN = []
temp_NO = []

#for index in range(len(df_copy_ensu_cb)):
for index in range(len(df_copy_ensu_cb)):
    try:
        if ((df_copy_ensu_cb.CVE_MUN[index] > 0) & (df_copy_ensu_cb.MUN[index] == 0)):
            temp_CVE_MUN.append(df_copy_ensu_cb.CVE_MUN[index])

        elif ((df_copy_ensu_cb.CVE_MUN[index] == 0) & (df_copy_ensu_cb.MUN[index] > 0)):
            temp_CVE_MUN.append(df_copy_ensu_cb.MUN[index])
            
    except:
        temp_NO.append(index)

In [60]:
len(temp_CVE_MUN)

161810

In [61]:
len(temp_NO)

0

In [62]:
df_copy_ensu_cb.CVE_MUN = temp_CVE_MUN
df_copy_ensu_cb.CVE_MUN.value_counts()

1       15591
5        7952
2        7272
7        6488
3        6286
10       5671
4        5638
30       5439
17       5429
6        4156
67       3900
12       3751
39       3624
101      3190
14       3056
35       2989
37       2942
27       2934
19       2906
33       2867
53       2837
15       2720
48       2715
89       2711
20       2655
102      2635
38       2627
8        2561
32       2547
29       2518
        ...
375       158
350       128
49        117
107       114
83        106
157       101
399        89
97         80
22         62
34         59
409        54
293        54
174        54
42         52
90         50
24         47
122        31
91         25
47         14
1053       10
87         10
65          8
160         5
62          5
212         5
262         4
45          4
1599        3
119         3
23          2
Name: CVE_MUN, Length: 92, dtype: int64

In [63]:
df_copy_ensu_cb.shape

(161810, 165)

In [64]:
#exportar csv

path = '../../Datasets/ENSU/dataframes/ensu_cb_02.csv'

df_copy_ensu_cb.to_csv(path_or_buf=path, index=True, encoding='utf-8')

In [ ]:
df_copy_ensu_cb.groupby(['CVE_ENT', 'CVE_MUN']).count()

In [14]:
df_copy_ensu_cb[(df_copy_ensu_cb.CVE_MUN == 'Centro')][['CVE_ENT', 'CVE_MUN']]

        CVE_ENT CVE_MUN
118179       27  Centro
118180       27  Centro
118181       27  Centro
118182       27  Centro
118183       27  Centro
118184       27  Centro
118185       27  Centro
118186       27  Centro
118187       27  Centro
118188       27  Centro
118189       27  Centro
118190       27  Centro
118191       27  Centro
118192       27  Centro
118193       27  Centro
118194       27  Centro
118195       27  Centro
118196       27  Centro
118197       27  Centro
118198       27  Centro
118199       27  Centro
118200       27  Centro
118201       27  Centro
118202       27  Centro
118203       27  Centro
118204       27  Centro
118205       27  Centro
118206       27  Centro
118207       27  Centro
118208       27  Centro
...         ...     ...
118387       27  Centro
118388       27  Centro
118389       27  Centro
118390       27  Centro
118391       27  Centro
118392       27  Centro
118393       27  Centro
118394       27  Centro
118395       27  Centro
118396       27  Centro
118397       27  Centro
118398       27  Centro
118399       27  Centro
118400       27  Centro
118401       27  Centro
118402       27  Centro
118403       27  Centro
118404       27  Centro
118405       27  Centro
118406       27  Centro
118407       27  Centro
118408       27  Centro
118409       27  Centro
118410       27  Centro
118411       27  Centro
118412       27  Centro
118413       27  Centro
118414       27  Centro
118415       27  Centro
118416       27  Centro

[238 rows x 2 columns]

In [ ]:
#df_copy_ensu_cb.CVE_ENT = temp_CVE_ENT
df_copy_ensu_cb.CVE_ENT.value_counts()

In [ ]:
print(ss)

In [39]:
df_copy_ensu_cb['ENT'].replace({0:'&'}, inplace=True)        
df_copy_ensu_cb.ENT.value_counts()

&     134708
9       3325
2       2186
7       1983
28      1964
5       1836
6       1724
30      1673
8       1665
25      1541
12      1492
15      1371
16      1318
14      1302
4       1296
1       1263
32      1250
10      1248
17      1211
3       1183
20      1045
27      1033
19      1019
29       997
11       906
18       847
31       816
13       813
26       809
21       791
24       773
22       767
23       727
Name: ENT, dtype: int64