In [132]:
import pandas as pd
import numpy as np

# Encuesta Nacional de Ocupación y Empleo
## Estructura de la tabla de datos de SOCIODEMOGRÁFICO
### Nombre de la tabla de datos: SDEMT<PERIODO>.csv

# Carga de Datos

In [2]:
path_df_sdemt_2014 = '../../Datasets/ENOE/dataframes/sdemt_2014.csv'

df_sdemt_2014 = pd.read_csv(path_df_sdemt_2014, low_memory=False)

df_sdemt_2014.head()

,Unnamed: 0,r_def,loc,mun,est,est_d,ageb,t_loc,cd_a,ent,...,ma48me1sm,p14apoyos,scian,t_tra,emp_ppal,tue_ppal,trans_ppal,mh_fil2,mh_col,sec_ins
0,0,0,1,2,10,103,0,1,1,9,...,0,2,19,1,1,1,0,1,1,8
1,1,0,1,2,10,103,0,1,1,9,...,0,2,7,1,1,1,0,1,1,8
2,2,0,1,2,10,103,0,1,1,9,...,0,2,19,1,1,2,0,2,1,9
3,3,0,1,2,30,105,0,1,1,9,...,0,2,0,1,0,0,0,0,0,0
4,4,0,1,2,30,105,0,1,1,9,...,0,2,0,1,0,0,0,0,0,0

In [4]:
df_sdemt_2014.shape

(1620545, 105)

In [53]:
df_copy_sdemt_2014 = df_sdemt_2014.copy()

In [54]:
df_copy_sdemt_2014.shape

(1620545, 105)

# Limpieza de datos

## Resultado definitivo de la entrevista `r_def`
+ `00`: Entrevista completa
+ `15`: Entrevista suspendida

In [55]:
df_copy_sdemt_2014.r_def.value_counts()

0     1620303
15        242
Name: r_def, dtype: int64

In [56]:
df_copy_sdemt_2014.drop(df_copy_sdemt_2014[(df_copy_sdemt_2014['r_def'] == 15)].index, inplace=True)

In [57]:
df_copy_sdemt_2014.r_def.value_counts()

0    1620303
Name: r_def, dtype: int64

## Número de la localidad `loc`
+ `0001-9998`

In [58]:
df_copy_sdemt_2014['loc'].value_counts()

1       1198136
2         12894
3         10411
8          9831
14         9289
5          9160
7          8878
6          8276
11         7715
37         6763
17         6647
4          6607
13         6569
10         5578
12         5497
16         5465
122        5370
9          5317
25         4384
24         4319
26         4278
34         4247
18         4220
23         4089
44         4029
20         3970
21         3889
19         3713
30         3491
35         3455
         ...
361           4
1432          4
1286          3
1518          3
189           3
2234          3
287           3
1401          3
641           3
692           2
981           2
2628          2
1034          2
1150          2
776           2
1284          2
1345          2
643           2
1837          2
276           2
2626          2
334           2
463           2
1269          2
166           1
929           1
182           1
606           1
328           1
1130          1
Name: loc, Length: 625, dtype: int64

## Número de municipio según entidad `mun`
+ `001-575`

In [59]:
df_copy_sdemt_2014['mun'].value_counts()

1      87230
4      81078
5      79982
2      67735
6      57705
17     57102
30     55911
3      55676
20     51261
7      41363
39     36292
101    34833
114    32634
53     32197
14     32191
10     31499
28     31173
19     29416
50     27540
8      25782
48     25187
9      23906
11     23030
18     21096
106    20910
35     20541
193    18943
67     17654
38     17126
33     15869
       ...
253      242
554      237
559      236
473      233
95       233
151      221
317      218
150      218
191      217
333      214
456      210
519      201
492      192
439      178
470      177
420      172
427      170
307      157
211      155
213      148
209      147
545      144
136      136
500      135
403      119
422      110
234       92
186       89
431       79
334       75
Name: mun, Length: 239, dtype: int64

## Estrato `est`
+ Primer dígito `1-4`: El primer Carácter es la clave del estrato nacional 
+ Segundo dígito `0-4`: El segundo se usa para el subestrato o estrato estatal

In [60]:
df_copy_sdemt_2014['est'].value_counts()

20    802676
30    418390
10    224363
40    174874
Name: est, dtype: int64

## Tamaño de localidad `t_loc`
+ `1`: Localidades mayores de 100 000 habitantes 
+ `2`: Localidades de 15 000 a 99 999 habitantes 
+ `3`: Localidades de 2 500 a 14 999 habitantes 
+ `4`: Localidades menores de 2 500 habitantes

In [61]:
df_copy_sdemt_2014['t_loc'].value_counts()

1    943938
4    257150
2    214404
3    204811
Name: t_loc, dtype: int64

## Entidad `ent`
+ `01-32`:

In [62]:
df_copy_sdemt_2014['ent'].value_counts()

15    73872
11    70703
21    62247
14    60416
7     59292
20    57816
19    55730
30    55138
12    53925
1     52055
32    51749
24    51298
27    50554
5     50418
16    50151
2     50148
29    48543
18    48375
25    47990
10    47209
31    46721
22    46706
4     45954
8     45770
28    45313
26    44638
17    44575
6     43713
13    43575
23    41327
9     39946
3     34436
Name: ent, dtype: int64

## Periodo `per`
+ Primer dígito Trimestre de año:
    + `1`:  Enero-Marzo
    + `2`: Abril-Junio 
    + `3`: Julio-Septiembre 
    + `4`: Octubre-Diciembre
+ Segundo y tercer dígito:
    + `05-99`: Año en curso

In [63]:
df_copy_sdemt_2014['per'].value_counts()

214    406047
314    405750
414    404573
114    403933
Name: per, dtype: int64

## Sexo `sex`
+ `1`: Hombre
+ `2`: Mujer

In [64]:
df_copy_sdemt_2014['sex'].value_counts()

2    820928
1    769820
      29555
Name: sex, dtype: int64

In [65]:
df_copy_sdemt_2014.drop(df_copy_sdemt_2014[(df_copy_sdemt_2014['sex'] == ' ')].index, inplace=True)

In [66]:
df_copy_sdemt_2014['sex'].value_counts()

2    820928
1    769820
Name: sex, dtype: int64

## Edad `eda`
+ `0`: Menores de 1 año
+ `01-96`: Número de años cumplidos del integrante del hogar
+ `97`: 97 años y más
+ `98`: Edad no especificada para mayores (12 años y más)
+ `99`: Edad no especificada para menores (00 a 11 años)

In [67]:
df_copy_sdemt_2014['eda'] = df_copy_sdemt_2014['eda'].astype('int64')
df_copy_sdemt_2014['eda'].value_counts()

13    31028
18    30907
12    30659
14    30607
11    29970
10    29926
15    29679
19    29610
16    29482
7     29363
9     29345
17    29271
20    29159
8     29049
6     28924
21    28636
22    28375
5     28345
3     27905
4     27884
23    27791
2     27059
24    26564
1     26225
25    25200
40    24682
30    24077
26    24032
28    23604
27    23540
      ...
69     6613
71     6173
73     5993
72     5387
74     5221
75     5000
76     4471
78     3973
77     3886
79     3491
80     3459
81     2850
84     2540
83     2421
82     2216
85     2034
86     1540
87     1285
88     1140
89     1064
90      936
91      707
97      571
98      503
93      477
92      467
94      416
95      277
96      219
99       55
Name: eda, Length: 100, dtype: int64

## Día de nacimiento `nac_dia`
+ `0-31`: Día de la fecha de nacimiento
+ `99`: No sabe/no contesta

In [68]:
df_copy_sdemt_2014['nac_dia'] = df_copy_sdemt_2014['nac_dia'].astype('int64')
df_copy_sdemt_2014['nac_dia'].value_counts()

99    83904
15    54910
10    53639
20    53083
1     51972
2     51728
12    51327
8     50385
3     50243
5     49865
24    49830
4     49697
17    49646
6     49516
28    49471
13    49459
16    49368
18    49146
7     48998
19    48769
22    48654
11    48229
9     48134
25    47979
27    47858
21    47838
14    47812
23    47272
26    46749
30    45761
29    43724
31    25782
Name: nac_dia, dtype: int64

## Mes de nacimiento `nac_mes`
+ `1-12`: Día de la fecha de nacimiento
+ `99`: No sabe/no contesta

In [69]:
df_copy_sdemt_2014['nac_mes'] = df_copy_sdemt_2014['nac_mes'].astype('int64')
df_copy_sdemt_2014['nac_mes'].value_counts()

8     135785
9     133984
10    133354
12    130132
7     129125
1     127497
11    126313
5     125771
6     123906
3     123396
4     120021
2     115806
99     65658
Name: nac_mes, dtype: int64

## Año de nacimiento `nac_anio`
+ `1900-9999`: Día de la fecha de nacimiento
+ `99`: No sabe/no contesta

In [70]:
df_copy_sdemt_2014['nac_anio'] = df_copy_sdemt_2014['nac_anio'].astype('int64')
df_copy_sdemt_2014['nac_anio'].value_counts()

2000    31306
1995    30809
2001    30660
2002    30424
1999    30040
1996    30016
2004    29935
2003    29709
1998    29556
1994    29309
2006    29286
1997    29271
2007    29036
2008    28982
2005    28889
1993    28842
1992    28565
1991    28268
2009    28028
2010    27902
2011    27473
1990    27269
2012    26578
1989    25853
2013    25720
1988    24433
1973    24272
1986    23802
1974    23708
1983    23624
        ...
1929     2250
1931     2219
1928     1725
1927     1343
1926     1223
1925     1103
1924      984
1923      856
9999      560
1922      540
1920      479
1921      440
1919      351
1918      249
1917      189
1916      149
1915      101
1914       76
1913       40
1912       30
1910       20
1909       16
1911       11
1906        6
1905        5
1908        3
1907        2
1904        2
1900        2
1903        1
Name: nac_anio, Length: 114, dtype: int64

## Clave de lugar de nacimiento `l_nac_c`
+ `1900-9999`: Día de la fecha de nacimiento
+ `99`: No sabe/no contesta

In [72]:
df_copy_sdemt_2014['l_nac_c'] = df_copy_sdemt_2014['l_nac_c'].astype('int64')
df_copy_sdemt_2014['l_nac_c'].value_counts()

9      76413
11     71622
14     70998
30     70975
15     67183
21     66504
7      64250
20     62043
12     61071
16     56204
24     53772
32     53294
25     52622
31     51446
27     50662
10     48582
5      47993
19     47661
1      44888
8      43088
29     42709
26     41803
18     41255
28     39158
4      39103
13     38918
22     36484
17     33982
6      32141
2      30236
3      22340
23     19535
221     9042
200     1546
225      371
400      320
300      285
415      176
33        34
100       31
500        8
Name: l_nac_c, dtype: int64

## Pregunta 12 ¿Sabe leer y escri- bir un recado ... ? `cs_p12`
+ `1`: Sí
+ `2`: No
+ `9`: No sabe/no contesta

In [74]:
#df_copy_sdemt_2014['cs_p12'] = df_copy_sdemt_2014['cs_p12'].astype('int64')
df_copy_sdemt_2014['cs_p12'].value_counts()

1    1356501
      132354
2     101728
9        165
Name: cs_p12, dtype: int64

In [127]:
df_copy_sdemt_2014['cs_p12'] = df_copy_sdemt_2014['cs_p12'].astype('str')
df_copy_sdemt_2014.cs_p12.replace({' ': 9, '9':9}, inplace=True)
df_copy_sdemt_2014['cs_p12'] = df_copy_sdemt_2014['cs_p12'].astype('int64')
df_copy_sdemt_2014['cs_p12'].value_counts()

1    1356501
9     132519
2     101728
Name: cs_p12, dtype: int64

## Pregunta 13.1 ¿Hasta qué grado aprobó ...en la escuela? `cs_p13_1`
+ `00`: Ninguno
+ `01`: Prescolar
+ `02`: Primaria
+ `03`: Secundaria
+ `04`: Preparatoria o bachillerto
+ `05`: Normal
+ `06`: Carrera técnica
+ `07`: Profesional
+ `08`: Maestría
+ `09` Doctorado
+ `99`: No sabe

In [119]:
#df_copy_sdemt_2014['cs_p13_1'][(df_copy_sdemt_2014['cs_p13_1']) == 'nan'].head()

In [113]:
#df_copy_sdemt_2014['cs_p13_1'].dtypes
#df_copy_sdemt_2014['cs_p13_1'].fillna('10.0')
df_copy_sdemt_2014['cs_p13_1'] = df_copy_sdemt_2014['cs_p13_1'].astype('str')
df_copy_sdemt_2014['cs_p13_1'].value_counts()

2.0     467592
3.0     364807
4.0     223333
7.0     194966
nan     132354
1.0      66495
0.0      64687
6.0      54141
8.0      13080
5.0       6663
9.0       1884
99.0       746
Name: cs_p13_1, dtype: int64

In [116]:
dicc_cs_p13_1 = {0.0: 0, '0.0': 0, 
                 1.0: 1, '1.0': 1, 
                2.0: 2, '2.0': 2,
                3.0: 3, '3.0': 3,
                4.0: 4, '4.0': 4,
                5.0: 5, '5.0': 5,
                6.0: 6, '6.0': 6,
                7.0: 7, '7.0': 7,
                8.0: 8, '8.0': 8,
                9.0: 9, '9.0': 9,
                99.0: 99, '99.0': 99,
                'nan': 99}

In [117]:
df_copy_sdemt_2014.cs_p13_1.replace(dicc_cs_p13_1, inplace=True)
df_copy_sdemt_2014.cs_p13_1.value_counts()

2     467592
3     364807
4     223333
7     194966
99    133100
1      66495
0      64687
6      54141
8      13080
5       6663
9       1884
Name: cs_p13_1, dtype: int64

## Pregunta 13.2 ¿Hasta qué grado aprobó ...en la escuela? `cs_p13_2`
+ `0-9`: Años aprobados

In [128]:
df_copy_sdemt_2014.cs_p13_2.value_counts()

3    572327
2    217957
6    205485
1    155291
     132354
5    127060
4    113564
0     64687
9      1654
7       347
8        22
Name: cs_p13_2, dtype: int64

In [129]:
df_copy_sdemt_2014['cs_p13_2'] = df_copy_sdemt_2014['cs_p13_2'].astype('str')
df_copy_sdemt_2014.cs_p13_2.replace({' ': '9'}, inplace=True)
df_copy_sdemt_2014['cs_p13_2'] = df_copy_sdemt_2014['cs_p13_2'].astype('int64')
df_copy_sdemt_2014['cs_p13_2'].value_counts()

3    572327
2    217957
6    205485
1    155291
9    134008
5    127060
4    113564
0     64687
7       347
8        22
Name: cs_p13_2, dtype: int64

## Pregunta 14 Clave de la carrera `CS_P14_C`
+ Catálogo

In [130]:
df_copy_sdemt_2014.cs_p14_c.value_counts()

5335    21691
5334    18497
5341    18326
2814    14424
5122     7503
2334     7282
5510     7065
5311     6514
5517     6466
5712     6346
5711     6060
5441     5981
5511     5730
5532     5659
5531     5524
1800     4967
2712     4445
5321     4402
5121     3955
5331     3595
5611     3435
5713     3378
5332     3349
5330     3329
5514     3117
5411     3019
N122     2938
5213     2803
N120     2793
2441     2706
        ...
N128        3
4122        3
0513        3
4613        3
2812        3
4110        3
7322        3
8210        3
7523        3
4621        3
4342        3
8621        2
8213        2
8221        2
0512        2
2842        2
2342        1
7610        1
4341        1
2223        1
8212        1
8322        1
8127        1
0334        1
0517        1
8332        1
4322        1
8315        1
8520        1
0332        1
Name: cs_p14_c, Length: 395, dtype: int64