In [1]:
import pandas as pd
import numpy as np

In [2]:
#Conjunto de datos de la Tabla Vivienda de 2014
vivienda = '../../Datasets/ENH/dataframes/vivienda.csv'

df_vivienda = pd.read_csv(vivienda, low_memory=False, index_col=0)

df_vivienda.reset_index(inplace=True)

df_vivienda.head()

,level_0,CVE_ENT,CVE_LOC,CVE_MUN,ageb,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,...,tipo_viv,tot_hog,tot_resid,tv_paga,ubica_geo,upm,uso_compar,valor_viv,vend_hered,viv_usada
0,0,32,1,37,029-0,2,&,&,&,&,...,1,1,4,&,10010001,710,2.0,&,&,&
1,1,32,1,37,029-0,2,&,&,&,&,...,1,1,4,&,10010001,710,2.0,&,&,&
2,2,32,1,37,029-0,2,&,&,&,&,...,1,1,2,&,10010001,710,2.0,&,&,2
3,3,32,1,37,029-0,2,&,&,&,&,...,1,1,6,&,10010001,710,2.0,&,&,&
4,4,32,1,37,030-3,2,&,&,&,&,...,1,1,4,&,10010001,1450,2.0,&,&,1

In [3]:
df_vivienda.shape

(160467, 117)

In [5]:
df_vivienda.CVE_MUN.astype('category').unique

<bound method Series.unique of 0         37
1         37
2         37
3         37
4         37
5         37
6         37
7         37
8         37
9         37
10        37
11        37
12        37
13        37
14        37
15        37
16        37
17        37
18        37
19        37
20        37
21        37
22        37
23        37
24        37
25        37
26        37
27        37
28        37
29        37
          ..
160437    35
160438    35
160439    35
160440    35
160441    35
160442    35
160443    35
160444    35
160445    35
160446    35
160447    35
160448    35
160449    35
160450    35
160451    35
160452    35
160453    35
160454    35
160455    35
160456    35
160457    35
160458    35
160459    35
160460    35
160461    35
160462    35
160463    35
160464    35
160465    35
160466    35
Name: CVE_MUN, Length: 160467, dtype: category
Categories (2, int64): [35, 37]>

### Ubicación geográfica 
`ubica_geo` 

Ubicación geográfica de la vivienda encuestada. Los dos primeros dígitos representan la clave de la entidad, los siguientes tres la clave del municipio y los últimos cuatro la clave de la localidad. Éstas corresponden al Catálogo de claves de entidades federativas, municipios y localidades, que está disponible en el sitio delINEGI.

entidad (2) + municipio (3) + localidad (4)

Comparando con el CEFML (Catálogo de entidades federativas, municipios y localidades)

+ entidad == `CVE_ENT` 
+ municipio == `CVE_MUN`
+ localidad == `CVE_LOC`

`CVE_ENT` (2) + `CVE_MUN` (3) + `CVE_LOC` (4)

In [9]:
df_vivienda.groupby(df_vivienda.ubica_geo).size()

ubica_geo
10010001     3210
10010138       20
10010144       18
10010239       19
10010293       37
10010345       19
10010367       19
10010426        2
10010429       37
10010548        5
10010558        2
10010605        5
10010707       28
10010922        5
10010982        1
10010988        4
10010992       15
10011025       22
10011166        3
10011181        5
10012043        5
10012198        1
10012346        5
10012381        4
10012402        4
10020001       19
10020014       14
10020034       16
10020047       24
10030001       75
             ...
320420176      96
320420177      12
320440001      55
320440022      20
320440045      20
320450001      77
320480001      55
320490001      18
320490010      19
320490036       5
320490062      10
320490073       5
320490082       5
320490111      12
320490147      20
320510008      39
320520016       5
320520021       5
320520033       5
320520086       5
320530001      60
320540001      19
320550001      77
320550002      18
320550021      20
320550038      10
320550090      10
320560001     548
320560028      20
320570001     119
Length: 4360, dtype: int64

In [10]:
df_vivienda.ubica_geo.count()

160467

Ejemplo `df_vivienda_2016.ubica_geo.max()`:

320570001 

32 057 0001

+ `CVE_ENT` = 32 -> Zacatecas
+ `CVE_MUN` = 057 -> Trancoso
+ `CVE_LOC` = 0001 -> Trancoso

In [11]:
df_vivienda.ubica_geo.max()

320570001

In [12]:
print('ubica_geo: ', df_vivienda.ubica_geo[0])

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda.ubica_geo[0])[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda.ubica_geo[0])[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda.ubica_geo[0])[:-7])

ubica_geo:  10010001
CVE_LOC:  0001
CVE_MUN:  001
CVE_ENT:  1

In [13]:
print('ubica_geo: ', df_vivienda.ubica_geo.max())

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda.ubica_geo.max())[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda.ubica_geo.max())[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda.ubica_geo.max())[:-7])

ubica_geo:  320570001
CVE_LOC:  0001
CVE_MUN:  057
CVE_ENT:  32

In [14]:
print('ubica_geo: ', df_vivienda.ubica_geo[58000])

# `CVE_LOC` (4)
print('CVE_LOC: ', str(df_vivienda.ubica_geo[58000])[-4:])

# `CVE_MUN` (3)
print('CVE_MUN: ', str(df_vivienda.ubica_geo[58000])[-7:-4])

# `CVE_ENT` (2)
print('CVE_ENT: ', str(df_vivienda.ubica_geo[58000])[:-7])

ubica_geo:  80400001
CVE_LOC:  0001
CVE_MUN:  040
CVE_ENT:  8

#### General

In [15]:
#loc gets rows (or columns) with particular labels from the index.
#iloc gets rows (or columns) at particular positions in the index (so it only takes integers)

df_vivienda.ubica_geo.iloc[0:5]

0    10010001
1    10010001
2    10010001
3    10010001
4    10010001
Name: ubica_geo, dtype: int64

In [36]:
for row, index in zip(df_vivienda.ubica_geo, df_vivienda.ubica_geo.index):
    df_vivienda['CVE_LOC'][index] = str(row)[-4:]
    df_vivienda['CVE_MUN'][index] = str(row)[-7:-4]
    df_vivienda['CVE_ENT'][index] = str(row)[:-7]

df_vivienda.head()

,level_0,CVE_ENT,CVE_LOC,CVE_MUN,ageb,aire_acond,ais_otro,ais_pared,ais_techos,ais_ventan,...,tipo_viv,tot_hog,tot_resid,tv_paga,ubica_geo,upm,uso_compar,valor_viv,vend_hered,viv_usada
0,0,1,0001,001,029-0,2,&,&,&,&,...,1,1,4,&,10010001,710,2.0,&,&,&
1,1,1,0001,001,029-0,2,&,&,&,&,...,1,1,4,&,10010001,710,2.0,&,&,&
2,2,1,0001,001,029-0,2,&,&,&,&,...,1,1,2,&,10010001,710,2.0,&,&,2
3,3,1,0001,001,029-0,2,&,&,&,&,...,1,1,6,&,10010001,710,2.0,&,&,&
4,4,1,0001,001,030-3,2,&,&,&,&,...,1,1,4,&,10010001,1450,2.0,&,&,1

In [38]:
df_vivienda.CVE_ENT.astype('category').unique

<bound method Series.unique of 0          1
1          1
2          1
3          1
4          1
5          1
6          1
7          1
8          1
9          1
10         1
11         1
12         1
13         1
14         1
15         1
16         1
17         1
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         1
28         1
29         1
          ..
160437    32
160438    32
160439    32
160440    32
160441    32
160442    32
160443    32
160444    32
160445    32
160446    32
160447    32
160448    32
160449    32
160450    32
160451    32
160452    32
160453    32
160454    32
160455    32
160456    32
160457    32
160458    32
160459    32
160460    32
160461    32
160462    32
160463    32
160464    32
160465    32
160466    32
Name: CVE_ENT, Length: 160467, dtype: category
Categories (32, object): [1, 10, 11, 12, ..., 6, 7, 8, 9]>

In [37]:
df_vivienda.CVE_MUN.astype('category').unique

<bound method Series.unique of 0         001
1         001
2         001
3         001
4         001
5         001
6         001
7         001
8         001
9         001
10        001
11        001
12        001
13        001
14        001
15        001
16        001
17        001
18        001
19        001
20        001
21        001
22        001
23        001
24        001
25        001
26        001
27        001
28        001
29        001
         ...
160437    018
160438    018
160439    018
160440    018
160441    018
160442    018
160443    018
160444    018
160445    018
160446    018
160447    018
160448    035
160449    035
160450    035
160451    035
160452    035
160453    035
160454    035
160455    035
160456    035
160457    035
160458    035
160459    035
160460    035
160461    035
160462    035
160463    035
160464    035
160465    035
160466    035
Name: CVE_MUN, Length: 160467, dtype: category
Categories (267, object): [001, 002, 003, 004, ..., 553, 554, 559, 565]>

In [39]:
df_vivienda.CVE_LOC.astype('category').unique

<bound method Series.unique of 0         0001
1         0001
2         0001
3         0001
4         0001
5         0001
6         0001
7         0001
8         0001
9         0001
10        0001
11        0001
12        0001
13        0001
14        0001
15        0001
16        0001
17        0001
18        0001
19        0001
20        0001
21        0001
22        0001
23        0001
24        0001
25        0001
26        0001
27        0001
28        0001
29        0001
          ...
160437    0001
160438    0001
160439    0001
160440    0001
160441    0001
160442    0001
160443    0001
160444    0001
160445    0001
160446    0001
160447    0001
160448    0001
160449    0001
160450    0001
160451    0001
160452    0001
160453    0001
160454    0001
160455    0001
160456    0001
160457    0001
160458    0001
160459    0001
160460    0001
160461    0001
160462    0001
160463    0001
160464    0001
160465    0001
160466    0001
Name: CVE_LOC, Length: 160467, dtype: category
Categories (705, object): [0001, 0002, 0003, 0004, ..., 3539, 4260, 4442, 4645]>

In [40]:
df_vivienda[['ubica_geo', 'CVE_ENT', 'CVE_MUN', 'CVE_LOC' ]]

        ubica_geo CVE_ENT CVE_MUN CVE_LOC
0        10010001       1     001    0001
1        10010001       1     001    0001
2        10010001       1     001    0001
3        10010001       1     001    0001
4        10010001       1     001    0001
5        10010001       1     001    0001
6        10010001       1     001    0001
7        10010001       1     001    0001
8        10010001       1     001    0001
9        10010001       1     001    0001
10       10010001       1     001    0001
11       10010001       1     001    0001
12       10010001       1     001    0001
13       10010001       1     001    0001
14       10010001       1     001    0001
15       10010001       1     001    0001
16       10010001       1     001    0001
17       10010001       1     001    0001
18       10010001       1     001    0001
19       10010001       1     001    0001
20       10010001       1     001    0001
21       10010001       1     001    0001
22       10010001       1     001    0001
23       10010001       1     001    0001
24       10010001       1     001    0001
25       10010001       1     001    0001
26       10010001       1     001    0001
27       10010001       1     001    0001
28       10010001       1     001    0001
29       10010001       1     001    0001
...           ...     ...     ...     ...
160437  320180001      32     018    0001
160438  320180001      32     018    0001
160439  320180001      32     018    0001
160440  320180001      32     018    0001
160441  320180001      32     018    0001
160442  320180001      32     018    0001
160443  320180001      32     018    0001
160444  320180001      32     018    0001
160445  320180001      32     018    0001
160446  320180001      32     018    0001
160447  320180001      32     018    0001
160448  320350001      32     035    0001
160449  320350001      32     035    0001
160450  320350001      32     035    0001
160451  320350001      32     035    0001
160452  320350001      32     035    0001
160453  320350001      32     035    0001
160454  320350001      32     035    0001
160455  320350001      32     035    0001
160456  320350001      32     035    0001
160457  320350001      32     035    0001
160458  320350001      32     035    0001
160459  320350001      32     035    0001
160460  320350001      32     035    0001
160461  320350001      32     035    0001
160462  320350001      32     035    0001
160463  320350001      32     035    0001
160464  320350001      32     035    0001
160465  320350001      32     035    0001
160466  320350001      32     035    0001

[160467 rows x 4 columns]

In [34]:
#A value is trying to be set on a copy of a slice from a DataFrame
pd.options.mode.chained_assignment = None

In [41]:
#exportar csv

path = '../../Datasets/ENH/dataframes/vivienda2.csv'

df_vivienda.to_csv(path_or_buf=path, index=True, encoding='utf-8')